.about {
    background: #f4f5f7;
    padding: 76px 0;
}

.about__container {
    display: flex;
}
.about__content {
    width: 50%;
    padding-right: 50px;
}
.about__content-title {
    font-weight: bold;
    font-size: 22px;
}

.about__content-text {
    font-size: 22px;
    padding-top: 20px;
}
