.audience {
    background: rgba(0, 161, 198, 0.3);
    padding-bottom: 110px;
    padding-top: 110px;
}

.audience__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.audience__subtitle {
    font-size: 22px;
    font-weight: bold;
}

.audience__title {
    padding: 25px 0;
}

.audience__text {
    max-width: 550px;
    text-align: center;
}
.audience__btn-group {
    padding: 34px 0 111px 0;
}

.audience__sliders-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.audience__slider {
    width: 260px;
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.audience__slider:hover {
    background: #3141c5;
}

.audience__slider-img {
    padding-bottom: 10px;
}
