.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 47px;
    padding: 0 136px;
    box-sizing: border-box;
}

.header__logo-container {
    display: flex;
    align-items: start;
    width: 50%;
}

.header__logo {
    width: 48px;
    background: #fff;
    border-radius: 5px;
    margin-right: 5px;
}

.header__logo-text {
    font-family: "WorkSans-Bold", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #2b292d;
    width: 113px;
}

.header__text-color {
    font-weight: normal;
    color: rgba(43, 41, 45, 0.6);
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 290px;
}

.header__nav-link {
    text-decoration: none;
    color: #2b292d;
    font-family: "WorkSans-Bold", sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.header__nav-link:hover {
    opacity: 0.5;
}

.header__nav-item-arrow {
    display: flex;
    align-items: flex-end;
}

.header__nav-arrow {
    width: 20px;
    height: 15px;
    padding-left: 7px;
}

.header__nav-arrow:hover {
    opacity: 0.5;
}
