.home {
    background: #f3c6bd;
    padding: 200px 0 80px;
}

.home__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.home__content {
    width: 40%;
    position: relative;
}

.home__content-title {
    font-weight: bold;
    font-size: 65px;
    width: 600px;
}

.home__content-text{
    padding: 35px 0 45px;
}


.home__bg {
    width: 60%;
}

.home__btn-group {
    display: flex;
}

.home__btn {
    margin-right: 20px;
}
